{% extends 'base.html' %}{% load staticfiles %}
{% block title %}{{blog.title}}-数据锚{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'blog/lib/highlight/styles/solarized-light.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
<link rel="stylesheet" href="{% static 'blog/lib/scrolltop/css/css.css' %}">
{% endblock %}
{% block content %}
	<div class="container-fluid- container dcontainer">
		<div class="row">
			<div class="col-sm-9">
				<div class="media well">
				  	<h3>{{blog.title}}</h3>
				  	<span class="label label-info">{% if blog.origin %}转载{% else %}原创{% endif %}</span>
				  	<div>{{blog.content_show |safe}}</div>
				</div>
				<div class="well blog-copyright">
				 	<p>
				 		<label>温馨提示：</label>
				 		<span class="con">本站文章除注明转载外，均为原创文章。转载请保留原出处及其显示链接，以方便溯源，避免陈旧错误知识的误导，同时有更好的阅读体验。本站和作者保留随时要求删除文章的权利！</span>
				 	</p>
				 	<p>
				 		<label>本文链接：</label>
				 		<a href="javascript:;">{{request.get_host}}{{request.path}}</a></p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-info">
				  	<div class="panel-heading">作者信息</div>
				  	<div class="panel-body">
				    	这里展示的是文章作者的信息
				  	</div>
				</div>
				<div class="panel panel-info">
				  	<div class="panel-heading">文章目录</div>
				  	<div class="panel-body">
				    	这里展示的是文章的目录
				  	</div>
				  	<!-- List group -->
				  	<ul class="list-group">
				    	<li class="list-group-item">Cras justo odio</li>
				    	<li class="list-group-item">Dapibus ac facilisis in</li>
				    	<li class="list-group-item">Morbi leo risus</li>
				    	<li class="list-group-item">Porta ac consectetur ac</li>
				    	<li class="list-group-item">Vestibulum at eros</li>
				  	</ul>
				</div>
				<div class="panel panel-info">
				  	<div class="panel-heading">我要分享</div>
				  	<div class="panel-body">
				    	这里展示的是文章的分享途径
				  	</div>
				</div>
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">文章分类</h3>
				  	</div>
				  	<div class="panel-body">
				  		<ul class="nav nav-pills" role="tablist">
				  			{% for obj in bigtype %}
					    	<li role="presentation" {% if forloop.first%}class="active"{% endif %}><a href="#{{obj.id}}" aria-controls="{{obj.id}}" role="tab" data-toggle="tab">{{obj.name}}</a></li>
					    	{% empty %}
					    	<li>还没有大分类哦～</li>
					    	{% endfor %}
					  	</ul>
				  	</div>
				  	<div class="tab-content">
				  		{% for obj in bigtype %}
				  		<ul class="list-group tab-pane {% if forloop.first %}active{% endif %}" id="{{obj.id}}">
				  			{% for type in obj.getType %}
				  			<li class="list-group-item"><a href="/blog/type/{{type.id}}/">{{type.name}}&nbsp;&nbsp;<span class="badge">{{type.getCount}}</span></a></li>
				  			{% empty %}
				  			<li>还没有分类哦～</li>
				  			{% endfor %}
				  		</ul>
				  		{% endfor%}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="scrolltop">
		<div id="moquu_wxin" class="moquu_wxin">
			<a href="javascript:void(0)">
				<div class="moquu_wxinh"></div>
			</a>
		</div>
		<div id="moquu_wmaps">
			<a href="" class='moquu_wmaps' target="_blank"></a>
		</div>
		<a id="moquu_top" href="javascript:void(0)"></a>
	</div>
{% endblock %}
{% block js %}
<script src="{% static 'blog/lib/highlight/highlight.pack.js' %}"></script>
<script src="{% static 'blog/lib/scrolltop/js/js.js' %}"></script>
<script>
	$(function(){
		$('pre code').each(function(i, block) {
		   	hljs.highlightBlock(block);

		   	var lines = $(this).text().split('\n').length;
	        var $numbering = $('<ul/>').addClass('pre-numbering');
	        $(this)
	            .addClass('has-numbering')
	            .parent()
	            .append($numbering);
	        for(i=1;i<=lines;i++){
	            $numbering.append($('<li/>').text(i));
	        }
		});

		var $tables = $('table');
		if($tables.length){
			$tables.each(function(index, el) {
				$(this)
					.addClass('table table-bordered table-hover')
					.wrap('<div class="table-responsive"></div>');
			});
		}
	})
</script>
{% endblock %}