{% extends 'blog_base.html' %}{% load staticfiles %}
{% block title %}{{blog.title}}-数据锚{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'blog/lib/highlight/styles/solarized-light.css' %}">
<style>
	pre {
    	position: relative;
    	padding:0px 0px 0px 21px;
	}
	.pre-numbering {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 20px;
	    height: 100%;
	    padding: 7px 2px 0px 0px;
	    border-right: 1px solid #C3CCD0;
	    border-radius: 3px 0 0 3px;
	    background-color: #EEE;
	    text-align: right;
	    font-family: Menlo, monospace;
	    font-size: 1em;
	    color: #AAA;
	    margin-bottom: 0;
	}
</style>
{% endblock %}
{% block content %}
	<div class="jumbotron">
		<div class="container">
		  	<h1>巨幕</h1>
		  	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	  	</div>
	</div>
	<div class="container-fluid- container">
		<div class="row">
			<div class="col-sm-9">
				<div class="media well">
				  	<h3>{{blog.title}}</h3>
				  	<div>{{blog.content_show |safe}}</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-info">
				  	<div class="panel-heading">作者信息</div>
				  	<div class="panel-body">
				    	这里展示的是文章作者的信息
				  	</div>
				</div>
				<div class="panel panel-info">
				  	<div class="panel-heading">文章目录</div>
				  	<div class="panel-body">
				    	这里展示的是文章的目录
				  	</div>
				  	<!-- List group -->
				  	<ul class="list-group">
				    	<li class="list-group-item">Cras justo odio</li>
				    	<li class="list-group-item">Dapibus ac facilisis in</li>
				    	<li class="list-group-item">Morbi leo risus</li>
				    	<li class="list-group-item">Porta ac consectetur ac</li>
				    	<li class="list-group-item">Vestibulum at eros</li>
				  	</ul>
				</div>
				<div class="panel panel-info">
				  	<div class="panel-heading">我要分享</div>
				  	<div class="panel-body">
				    	这里展示的是文章的分享途径
				  	</div>
				</div>
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">文章分类</h3>
				  	</div>
				  	<div class="panel-body">
				  		<ul class="nav nav-pills" role="tablist">
				  			{% for obj in bigtype %}
					    	<li role="presentation" {% if forloop.first%}class="active"{% endif %}><a href="#{{obj.id}}" aria-controls="{{obj.id}}" role="tab" data-toggle="tab">{{obj.name}}</a></li>
					    	{% empty %}
					    	<li>还没有大分类哦～</li>
					    	{% endfor %}
					  	</ul>
				  	</div>
				  	<div class="tab-content">
				  		{% for obj in bigtype %}
				  		<ul class="list-group tab-pane {% if forloop.first %}active{% endif %}" id="{{obj.id}}">
				  			{% for type in obj.getType %}
				  			<li class="list-group-item"><a href="/blog/type/{{type.id}}/">{{type.name}}&nbsp;&nbsp;<span class="badge">{{type.getCount}}</span></a></li>
				  			{% empty %}
				  			<li>还没有分类哦～</li>
				  			{% endfor %}
				  		</ul>
				  		{% endfor%}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
<script src="{% static 'blog/lib/highlight/highlight.pack.js' %}"></script>
<script>
	$(function(){
		$('pre code').each(function(i, block) {
		   	hljs.highlightBlock(block);

		   	var lines = $(this).text().split('\n').length;
	        var $numbering = $('<ul/>').addClass('pre-numbering');
	        $(this)
	            .addClass('has-numbering')
	            .parent()
	            .append($numbering);
	        for(i=1;i<=lines;i++){
	            $numbering.append($('<li/>').text(i));
	        }
		});

		var $tables = $('table');
		if($tables.length){
			$tables.each(function(index, el) {
				$(this)
					.addClass('table table-bordered table-hover')
					.wrap('<div class="table-responsive"></div>');
			});
		}
	})
</script>
{% endblock %}