{% extends 'blog_base.html' %}{% load staticfiles %}
{% block title %}教程博客{% endblock %}
{% block content %}
	<div class="jumbotron">
		<div class="container">
		  	<h1>巨幕</h1>
		  	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	  	</div>
	</div>

	<div class="container-fluid- container">
		<div class="row">
			<div class="col-sm-9">
				<div class="media well">
				  	<div class="media-left media-middle col-sm-4">
				    	<a href="#" class="thumbnail">
				      	<img class="media-object" src="{% static 'blog/img/bg2.jpg'%}" alt="...">
				    	</a>
				  	</div>
				  	<div class="media-body">
				    	<h4 class="media-heading">Media heading</h4>
				    	<p class="lead">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				    	<p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				    	<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				    	<p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				  	</div>
				</div>
				<div class="media well">
				  	<div class="media-left media-middle col-sm-4">
				    	<a href="#" class="thumbnail">
				      	<img class="media-object" src="{% static 'blog/img/bg3.jpg'%}" alt="...">
				    	</a>
				  	</div>
				  	<div class="media-body">
				    	<h4 class="media-heading">Media heading</h4>
				    	<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				    	<p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				    	<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				    	<p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				  	</div>
				</div>
				<div class="media well">
				  	<div class="media-left media-middle col-sm-4">
				    	<a href="#" class="thumbnail">
				      	<img class="media-object" src="{% static 'blog/img/bg4.jpg'%}" alt="...">
				    	</a>
				  	</div>
				  	<div class="media-body">
				    	<h4 class="media-heading">Media heading</h4>
				    	<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				    	<p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				    	<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				    	<p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				  	</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-info">
				  	<div class="panel-heading">热门文章</div>
				  	<div class="panel-body">
				    	这里展示的是最热门的文章
				  	</div>
				  	<!-- List group -->
				  	<ul class="list-group">
				    	<li class="list-group-item">Cras justo odio</li>
				    	<li class="list-group-item">Dapibus ac facilisis in</li>
				    	<li class="list-group-item">Morbi leo risus</li>
				    	<li class="list-group-item">Porta ac consectetur ac</li>
				    	<li class="list-group-item">Vestibulum at eros</li>
				  	</ul>
				</div>
				<div class="panel panel-info">
				  	<div class="panel-heading">推荐文章</div>
				  	<div class="panel-body">
				    	这里展示的是推荐的文章
				  	</div>
				  	<!-- List group -->
				  	<ul class="list-group">
				    	<li class="list-group-item">Cras justo odio</li>
				    	<li class="list-group-item">Dapibus ac facilisis in</li>
				    	<li class="list-group-item">Morbi leo risus</li>
				    	<li class="list-group-item">Porta ac consectetur ac</li>
				    	<li class="list-group-item">Vestibulum at eros</li>
				  	</ul>
				</div>
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">文章分类</h3>
				  	</div>
				  	<div class="panel-body">
				  		<ul class="nav nav-pills" role="tablist">
					    	<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">金融时序</a></li>
					    	<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">机器人</a></li>
					  	</ul>
				  	</div>
				  	<div class="tab-content">
					  	<ul class="list-group tab-pane active" id="home">
					    	<li class="list-group-item">Cras justodd odio</li>
					    	<li class="list-group-item">Dapibus ac facilisis in</li>
					    	<li class="list-group-item">Morbi leo risus</li>
					    	<li class="list-group-item">Porta ac consectetur ac</li>
					    	<li class="list-group-item">Vestibulum at eros</li>
					  	</ul>

					  	<ul class="list-group tab-pane" id="profile">
					    	<li class="list-group-item">Cras justo odio</li>
					    	<li class="list-group-item">Dapibus ac facilisis in</li>
					    	<li class="list-group-item">Morbi leo risus</li>
					    	<li class="list-group-item">Porta ac consectetur ac</li>
					    	<li class="list-group-item">Vestibulum at eros</li>
					  	</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}