{% extends 'base.html' %}{% load staticfiles %}
{% block title %}{{blog.title}}数据锚-datamole{% endblock %}
{% block css %}
<!-- <link rel="stylesheet" href="{% static 'blog/lib/highlight/styles/solarized-light.css' %}"> -->
{% endblock %}
{% block content %}
	<div class="jumbotron">
		<div class="container">
		  	<h1>首页</h1>
		  	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	  	</div>
	</div>
	<div class="container-fluid- container">
		<div class="row">
			<div class="col-sm-9">
			</div>
			<div class="col-sm-3">
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
<!-- <script src="{% static 'blog/lib/highlight/highlight.pack.js' %}"></script> -->
{% endblock %}