{% extends 'base.html' %}{% load staticfiles %}
{% block title %}实验室介绍-智能感知和数据研究室-数据锚{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'index/css/introduce.css' %}">
{% endblock %}
{% block content %}
<div class="recruit-section">
    <h3 class="sec-title">招兵买马</h3>
    <p class="sec-desc">最近 “量化投资” 势头正猛，辣么什么是量化投资，怎么才能入门量化投资呢？</p>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>请问，什么是量化投资呢😶</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>量化投资就是借助现代统计学等方法，从海量历史数据中寻找策略，并按照策略构建的数量化模型来指导投资，力求取得超额回报。😊</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
           <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>请说人话！</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>量化投资就是运用科学方法，对海量历史数据分析形成靠谱模型，并应用于实际投资中。😁</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>量化投资不就是投资嘛？😞</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>这可不是完全一样的。</h2>
                <h2>First,量化投资借助计算机高效、准确处理海量信息，全市场搜寻投资机会。</h2>
                <h2>Second,量化投资严格通过模型运行，克服人为判断错误。</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>听起来好高大上呢。</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>Of course!</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>成为你们的俱乐部成员有神马优惠咩？</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>俱乐部有很多志同道合的小伙伴，wuli欧巴、欧尼颜值高的不要不要的……</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>就这些？</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>当然更有内涵呀。俱乐部有北京工商大学与业内资深公司共同加持，共享海量数据资源。加入我们，你想要神马数据就有神马数据。</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>果然很赞！</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>更为重要的是，俱乐部学习氛围浓烈，方向紧跟研究前沿，小伙伴积极向上，更有专业老师为量化研究之路排忧解惑。定期组织的头脑风暴能让你思（脑）维（洞）有质的提高。</h2>
                <h2>而且，量化投资在我国投资领域还是一个小baby,市面上能够找到的资源很少。但是加入我们，你就拥有了一个巨大的资源库，以及一伙随时可以请（调）教（戏）的队友！</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>我可以加入这个伐木累咩？</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>我们欢迎在校的本科生以及研究生，也欢迎已经工作的对量化投资感兴趣的帅锅美铝。😜</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>有专业限制咩？</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>这个始终不会有。😃</h2>
                <h2>因为量化投资本身就是一个跨门（物）类（种）学科，量化投资 = 量化 + 投资 ……</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>您这和没说有什么区别呀……😞</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>😃 量化方面包含时间序列、统计、机器学习、大数据、数学、计算机等等……</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>那投资方面包含会计、管理、宏观经济学、微观经济学、计量、审计呗……</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>你把我的话都抢完了……😶</h2>
                <h2>总而言之，我们俱乐部欢迎各方面人才的加入😋</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>我之前都没接触过量化投资，能够加入吗？</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-anwser">A</div>

            <div class="cd-timeline-content">
                <h2>当然可以的。加入到我们的群之后，俱乐部会组织多种形式的活动让你了解量化投资的。</h2>
                <h2>如果自学能力强大并且喜欢量化投资的，那么就可以继续深入学习的啦。</h2>
                <h2>只要你愿意，I WANT YOU!</h2>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-question">Q</div>

            <div class="cd-timeline-content">
                <h2>我！</h2>
                <h2>要！</h2>
                <h2>加！</h2>
                <h2>入！</h2>
            </div>
        </div>
    </section>
</div>
<div class="join-section">
    <h3>招贤令</h3>
    <p>北京工商大学“智能感知数据研究中心”与量化策略研发公司“XX”合作研究智能投资算法。现亟需大量计算机与金融方面人才。无论您是本科还是研究生，无论您是在职还是在校生，只要您有统计、机器学习、大数据、数学、计算机、会计、管理、经济学、计量、审计等相关专业背景，热爱量化投资行业，就可以加入我们。我们会有专业指导，让您对量化投资逐步深入并学以致用。</p>
    <p>扫描二位码或搜索微信公众号 “datamole”，加入量化学习群。</p>
    <img src="" alt="">
</div>
{% endblock %}
{% block js %}
{% endblock %}