{% extends 'base.html' %}{% load staticfiles %}
{% block title %}数据锚-datamole{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'index/lib/swiper/swiper.min.css' %}">
<style>
	.banner{
		margin-top: 80px;
		overflow: hidden;
	}
    .swiper-container {
    	width: 1920px;
        height:600px;
    }
</style>
{% endblock %}
{% block content %}
{% include 'common/header.html' %}
<!-- Slider -->
<div class="banner">
	<div class="swiper-container">
	    <div class="swiper-wrapper">
	        {% for slide in slides %}
			<img src="{{slide.img.url}}" alt="" class="swiper-slide">
			{% endfor %}
	    </div>
	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	</div>
</div>
<div class="container">
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
	ddd <br>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'index/lib/swiper/swiper.jquery.min.js' %}"></script>
<script>
	$(function(){
		$('.swiper-container').css('margin-left', -(1920-window.innerWidth)/2);
		var mySwiper = new Swiper ('.swiper-container', {
			autoplay:3000,
	    	loop: true,
	    	pagination: '.swiper-pagination',
	    	roundLengths : true
  		});
	});
</script>
{% endblock %}