/**
 * blog  list css
 */

/*list top*/
.ltop{
    background: url('/static/blog/img/blog_top1.png') no-repeat center;
    background-size: cover;
    height: 300px;
}
.ltop_box{
    width: 990px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.ltop_box i{
	position: absolute;
	top: 80px;
    left: 0;
    z-index: 100;
    width: 100%;
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 100;
    font-family:'方正兰亭纤黑_GBK','方正兰亭纤黑简体','方正兰亭纤黑繁体','微软雅黑','Helvetica Neue',Helvetica,Arial;
}
.ltop_box p{
	position: absolute;
    top: 171px;
    left: 0;
    z-index: 100;
    width: 100%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: 100;
}


div.blog-list-container {
  background-color:#e9f0f5;
  padding:40px 0;
}

div.blog-box {
  background-color:#fff;
  margin-bottom:30px;
  border-radius:6px;
  padding:10px 20px 20px;
}

img.blog-cover {
  width:100%;
  height:200px;
}

p.blog-subtitle {
  color:#727a80;
  letter-spacing:1px;
}

p.blog-abstract {
  font-size:14px;
  margin-top:10px;
}

a.btn.btn-create {
  border:1px solid #19b5fe;
  color:#19b5fe;
}

a.btn.btn-copy {
  border:1px solid #D9534F;
  color:#D9534F;
}

a.btn.btn-cate {
  border:1px solid #727a80;
  color:#727a80;
  margin-left:10px;
}

a.btn.btn-more {
  background-color:#727a80;
  color:#fff;
}

div.side-cate {
  border-radius:6px;
  background-color:transparent;
}

div.cate-head {
  color:#727a80;
  padding:10px;
  border-left:3px solid #19b5fe;
  border-right:3px solid #19b5fe;
  overflow:hidden;
  border-radius:30px;
  background-color:#fff;
  margin-bottom:3px;
}

.cate-head h4 {
  margin:0;
  text-align:center;
}

.cate-body {
  background-color:#fff;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.075);
  box-shadow:0 1px 2px rgba(0,0,0,.075);
}

.cate-body .nav-tabs {
  border-bottom-color:#19b5fe;
}

.cate-body .nav-tabs > li {
  width:50%;
}

.cate-body .nav-tabs > li.active a {
  border:1px solid #19b5fe;
  border-radius:0;
  border-bottom-color:transparent;
  border-top-color:transparent;
  color:#19b5fe;
}

.cate-body .nav-tabs > li a {
  padding-left:0;
  padding-right:0;
  text-align:center;
  margin-right:0;
  color:#555;
}

.cate-body .nav-tabs > li:hover a {
  color:#fff;
  background-color:#19b5fe;
  border-radius:0;
  margin-right:0;
}

.cate-body .tab-content {
  border:1px solid #19b5fe;
  border-top:0;
  border-bottom:0;
  padding:10px;
}

.cate-body span.cate-badge {
  margin-left:5px;
  background-color:#19b5fe;
  padding:3px 5px;
}

.cate-body .btn-cate-list {
  margin:0 auto 10px;
  border:1px solid #19b5fe;
  font-size:14px;
  color:#727a80;
  background-color:#fff;
  padding:5px 0;
  overflow:hidden;
}

nav.wraper-pagination {
  text-align:center;
}

.wraper-pagination .nav-pagination {
  margin:10px 0;
}

.wraper-pagination .nav-pagination > li a {
  color:#19b5fe;
}

.wraper-pagination .nav-pagination > li.active a {
  color:#fff;
  background-color:#19b5fe;
  border-color:#19b5fe;
}

.wraper-pagination .nav-pagination > li:hover a {
  color:#fff;
  background-color:#159ad8;
  border-color:#169ad8;
}

div.views-head {
  color:#727a80;
  padding:10px;
  border-left:3px solid #19b5fe;
  border-right:3px solid #19b5fe;
  overflow:hidden;
  border-radius:30px;
  background-color:#fff;
  margin-bottom:3px;
}

.views-head h4 {
  margin:0 auto;
  text-align:center;
}

div.side-views {
  margin-top:30px;
}

.views-body .list-group-item {
  border:0;
  border-bottom:1px solid #19b5fe;
  margin-bottom:0;
  padding-left:10px;
  padding-right:10px;
}

.views-body .list-group-item:last-child {
  border:0;
}

.views-body .list-group-item > a {
  color:#727a80;
  text-decoration:none;
}



/*blog detail*/
.dcontainer{
    margin-top: 40px;
}

pre {
	position: relative;
	padding:0px 0px 0px 21px;
}
.pre-numbering {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    padding: 7px 2px 0px 0px;
    border-right: 1px solid #C3CCD0;
    border-radius: 3px 0 0 3px;
    background-color: #EEE;
    text-align: right;
    font-family: Menlo, monospace;
    font-size: 1em;
    color: #AAA;
    margin-bottom: 0;
}
.blog-copyright label{float: left;margin-bottom: 2em;}