/**
 * blog css
 */

/*list top*/
.ltop{
    background: url('/static/blog/img/blog_top1.png') no-repeat center;
    background-size: cover;
    height: 300px;
}
.ltop_box{
    width: 990px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.ltop_box i{
	position: absolute;
	top: 80px;
    left: 0;
    z-index: 100;
    width: 100%;
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 100;
    font-family:'方正兰亭纤黑_GBK','方正兰亭纤黑简体','方正兰亭纤黑繁体','微软雅黑','Helvetica Neue',Helvetica,Arial;
}
.ltop_box p{
	position: absolute;
    top: 171px;
    left: 0;
    z-index: 100;
    width: 100%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: 100;
}
.lcontainer{
    margin-top: 40px;
}



/*blog detail*/
.dcontainer{
    margin-top: 40px;
}

pre {
	position: relative;
	padding:0px 0px 0px 21px;
}
.pre-numbering {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    padding: 7px 2px 0px 0px;
    border-right: 1px solid #C3CCD0;
    border-radius: 3px 0 0 3px;
    background-color: #EEE;
    text-align: right;
    font-family: Menlo, monospace;
    font-size: 1em;
    color: #AAA;
    margin-bottom: 0;
}
.blog-copyright label{float: left;margin-bottom: 2em;}