{% extends 'base.html' %}{% load staticfiles %}
{% block title %}论文列表-数据锚{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'science/css/paper.css' %}">
{% endblock %}
{% block content %}
	<div class="ltop">
		<div class="ltop_box">
			<i>论文列表&nbsp;&nbsp;这里描述</i>
			<p>论文列表这里描述</p>
		</div>
	</div>
	<div class="container-fluid- container lcontainer">
		<div class="row">
			<div class="col-sm-3">
				<div class="box">
					<img class="big-illustration" alt="Spaceship" src="{% static 'science/img/default.png' %}">
					<h3>Boilerplate</h3>
					<p>The most popular template for beginners and above.</p>
					<a href="" target="_blank">Check it out</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">
					<img class="big-illustration" alt="Spaceship" src="{% static 'science/img/default.png' %}">
					<h3>Boilerplate</h3>
					<p>The most popular template for beginners and above.</p>
					<a href="" target="_blank">Check it out</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">
					<img class="big-illustration" alt="Spaceship" src="{% static 'science/img/default.png' %}">
					<h3>Boilerplate</h3>
					<p>The most popular template for beginners and above.</p>
					<a href="" target="_blank">Check it out</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">
					<img class="big-illustration" alt="Spaceship" src="{% static 'science/img/default.png' %}">
					<h3>Boilerplate</h3>
					<p>The most popular template for beginners and above.</p>
					<a href="" target="_blank">Check it out</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">
					<img class="big-illustration" alt="Spaceship" src="{% static 'science/img/default.png' %}">
					<h3>Boilerplate</h3>
					<p>The most popular template for beginners and above.</p>
					<a href="" target="_blank">Check it out</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">
					<img class="big-illustration" alt="Spaceship" src="{% static 'science/img/default.png' %}">
					<h3>Boilerplate</h3>
					<p>The most popular template for beginners and above.</p>
					<a href="" target="_blank">Check it out</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">
					<img class="big-illustration" alt="Spaceship" src="{% static 'science/img/default.png' %}">
					<h3>Boilerplate</h3>
					<p>The most popular template for beginners and above.</p>
					<a href="" target="_blank">Check it out</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
<!-- <script src="{% static 'blog/lib/highlight/highlight.pack.js' %}"></script> -->
{% endblock %}