{% extends 'base.html' %}
{% load staticfiles %}
{% load userlinks %}
{% block title %}{{patent.title}}-数据锚{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'science/css/patent.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/"><span>首页</span></a></li>
        <li><a href="/science/patent/"><span>专利</span></a></li>
        <li><a href="#"><span>{{patent.title}}</span></a></li>
    </ol>
</div>
<div class="container" id="patent-detail">
    <h1>【专利】{{patent.title}} </h1>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h1>摘要 </h1>
            <p>{{patent.descripe}}</p>
            <a href="{{patent.link}}">公布公告 <i class="fa fa-angle-double-right"></i></a>
        </div>
        <div class="col-lg-6 col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><span class="label label-default"> 发明人 </span><span>{{patent.creators.all | userlinks:patent.all_creators}}</span></li>
                <li class="list-group-item"><span class="label label-default">状态 </span>
                {% if patent.status == 1 %}
                <span>受理</span>
                {% elif patent.status == 2 %}
                <span>公开</span>
                {% else %}
                <span>授权</span>
                {% endif %}
                </li>
                <li class="list-group-item"><span class="label label-default">状态编号 </span><span>{% if patent.num_apply%}{{patent.num_apply}}{% else %}无{% endif %}</span></li>
                <li class="list-group-item"><span class="label label-default">状态时间 </span><span>{{patent.time}}</span></li>
            </ul>
            <nav>
                <ul class="pager">
                    {% if page.has_prev %}
                    <li class="previous"><a href="{{page.prev.get_absolute_url}}" title="{{page.prev.title}}">上一发明 </a></li>
                    {% endif %}
                    {% if page.has_next %}
                    <li class="next"><a href="{{page.next.get_absolute_url}}" title="{{page.next.title}}">下一发明</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}