{% extends 'base.html' %}
{% load staticfiles %}
{% load userlinks %}
{% block title %}专利列表-数据锚{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'science/css/patent.css' %}">
{% endblock %}
{% block content %}
<div class="jumbotron-circular-addon-wrapper">
    <div class="jumbotron-addon jumbotron-addon-top jumbotron-addon-circle"><span class="bg-primary fa fa-filter"> </span></div>
    <div class="jumbotron">
        <h1> 发明专利</h1>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    </div>
    <div class="jumbotron-addon jumbotron-addon-bottom jumbotron-addon-circle"><span class="bg-primary"> <i class="fa fa-angle-double-down"></i></span></div>
</div>
<div id="patent-list">
    <div class="container">
		<div class="row">
			{% for patent in patents %}
			<div class="col-sm-4 col-md-3 col-lg-3">
				<div class="box">
					<i class="fa fa-filter"></i>
					<h3 class="title">{{patent.title}}</h3>
                    <p class="author">{{patent.creators.all | userlinks:patent.all_creators}}</p>
                    <p class="date">
                    	{% if patent.status == 1 %}
                    	<span class="label label-default status status-accept">受理</span>
                    	{% elif patent.status == 2 %}
                    	<span class="label label-default status status-public">公开</span>
                    	{% else %}
                    	<span class="label label-default status status-authorize">授权</span>
                    	{% endif %}
	                    时间 {{patent.time_apply}}
	                </p>
					<a href="{{patent.get_absolute_url}}" class="abtn">专利详情</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
{% endblock %}