{% extends 'base.html' %}
{% load staticfiles %}
{% load userlinks %}
{% block title %}获奖列表-数据锚{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'science/css/prize.css' %}">
{% endblock %}
{% block content %}
<div class="jumbotron-circular-addon-wrapper">
    <div class="jumbotron-addon jumbotron-addon-top jumbotron-addon-circle"><span class="bg-primary fa fa-trophy"> </span></div>
    <div class="jumbotron">
        <h1>评奖评优 </h1>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    </div>
    <div class="jumbotron-addon jumbotron-addon-bottom jumbotron-addon-circle"><span class="bg-primary"> <i class="fa fa-angle-double-down"></i></span></div>
</div>
<div id="prize-list">
    <div class="container">
		<div class="row">
			{% for prize in prizes %}
			<div class="col-sm-4 col-md-3 col-lg-3">
				<div class="box">
					<i class="fa fa-trophy"></i>
					<h3 class="title">{{prize.title}}</h3>
                    <p class="author">{{prize.persons.all | userlinks:prize.all_persons}}</p>
                    <p class="date">{{prize.time}}
                    	<span class="label label-default classic">
                    	{% if prize.grade == 1 %}国际级
                    	{% elif prize.grade == 2 %}国家级
                    	{% elif prize.grade == 3 %}省市级
                    	{% elif prize.grade == 4 %}校级
                    	{% else %}其它
                    	{% endif %}
                    	</span>
	                </p>
					<a href="{{prize.get_absolute_url}}" class="abtn">查看详情</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
{% endblock %}