{% extends 'base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% block title %}{{soft.title}}-数据锚{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'science/css/soft.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/"><span>首页</span></a></li>
        <li><a href="/science/soft/"><span>软著</span></a></li>
        <li><a href="#"><span>{{soft.title}}</span></a></li>
    </ol>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2"><img class="img-responsive img-soft" src="{% cloudinary_url soft.pic %}" alt="{{soft.title}}"></div>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}