{% extends 'base.html' %}{% load staticfiles %}
{% block title %}{{blog.title}}{{member.name}}-数据锚{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'member/css/member.css' %}">
{% endblock %}
{% block content %}
	<div class="dtop">
		<div class="dtop_box">
			<i>{{member.name}}</i>
			<p>{{member.descripe}}</p>
		</div>
	</div>
	<div class="container-fluid- container">
		
	</div>
{% endblock %}
{% block js %}
<!-- <script src="{% static 'blog/lib/highlight/highlight.pack.js' %}"></script> -->
{% endblock %}